[submodule "src/moveit2_tutorials"]
	path = src/moveit2_tutorials
	url = https://github.com/ros-planning/moveit2_tutorials.git
[submodule "src/moveit_task_constructor"]
	path = src/moveit_task_constructor
	url = https://github.com/ros-planning/moveit_task_constructor.git
